# dependencies
node_modules/
.pnpm-store/

# build outputs
dist/
build/
.next/
out/
*.tsbuildinfo

# turbo
.turbo/

# electron
apps/agent/release/

# env
.env
.env.local
.env.*.local

# prisma
packages/database/generated/

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# OS
.DS_Store

# editors
.vscode/*
!.vscode/extensions.json
.idea/

# coverage
coverage/
